*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}

.relative{
    position: relative;
}

.navigation-button{
    height: 30px;
    margin-top: 1rem;
}

.flex{
    display: flex;
}

.button{

    justify-content: end;
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between
}

.fixed{
    position: fixed;
    z-index: 1;
}

.card-container{
 width: 100vw; 
 padding: 4rem 2rem 0 2rem;  
}

.card{
    width: calc(100% / 6);
    min-width: 300px;
}

.name-card{
    position: absolute;
    bottom: 0;
    left: 0;

    color: white;
}
.starred-button{
    background-color: #4a4a4a;
    color: red;
    align-items: center;
}

main{
    background-color: #000000;
    
}

div.navigation-button{
    width: 100vw;
    height: 30px;
}

div.navigation-button ul li{
    list-style-type: none;    
}

footer{
    background-color: #222222;
    color: white;
}

