#{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.relative{
    position: relative;
    height: 100px;
    note ( da rimuovere)

}

.flex{
    display: flex;
}

.flex-end{
    justify-content: end;
}

.space-between{
    justify-content: space-between
}

.fixed{
    position: fixed;
    z-index: 1;
}

.starred-button{
    background-color: #4a4a4a;
    color: red;
    align-items: center;
}

div.navigation-button{
    width: 100vw;
}

div.navigation-button ul li{
    list-style-type: none;    
}

footer{
    background-color: #222222;
    color: white;
}

